# .gitignore

# ignore node_modules and yarn.lock for now
node_modules
yarn.lock

# ignore build and dist dirs
build
dist

# ignore IDE config files
.idea
.vscode

# ignore Docker stuff
docker-compose.yml
docker-compose.yaml
docker/

# ignore secrets
.env

# ignore coverage reports
coverage/

# ignore pyc files
*.pyc